@page "/"



<h1>@Localizer["Hello, world"]!</h1>

@Localizer["Welcome to your new app"].
<h1>@lng("Hello, world")!</h1>

@lng("Welcome to your new app").

<SurveyPrompt Title="How is Blazor working for you?" />


@lng("Privacy")
@SharedLocalizer.GetLocalizedHtmlString("Privacy")


@code {
    

    string lng(string txt)
    {
        var msg = @SharedLocalizer.GetLocalizedHtmlString(txt);
        return msg;
    }
}  